streamlit
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers
numpy
huggingface_hub
pillow
matplotlib
plotly
safetensors
openai
requests
pandas
chromadb
sentence-transformers
scikit-learn
hdbscan
langchain
langchain-community
tiktoken
